---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$grey-color:       #828282;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$base-color:       rgb(73, 187, 204);

html, body {
  background: #fafafa url("../img/cream.png") repeat;
  height: 100%;
}

.background {
  background-image: url('../img/family.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 0px;
  height: 100%;
}

.background h1 {
  margin-top: 47%;
  color: white;
  font-family: serif;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
@import "header";
@import "footer";
