<div class="container-fluid background"
  data-sr="wait 0.2s and then ease-in-out 100px"
  style="{% if page.background %} background-image: url('/img/{{ page.background }}'); {% endif %}">
  <div class="container">
    <div class="row">
      <h1 style="
        {% if page.background_text_margin_top %} margin-top: {{ page.background_text_margin_top }}; {% endif %}
        {% if page.background_text_margin_left %} margin-left: {{ page.background_text_margin_left }}; {% endif %}
        {% if page.background_text_color %} color: {{ page.background_text_color }}; {% endif %}
        ">
        <p>{{ page.background_text_line1 }}</p>
        <p><br/>{{ page.background_text_line2 }}</p>
      </h1>
    </div>
  </div>
</div>

<div class="container-fluid background-bottom">
  <div class="background-border">
    &nbsp;
  </div>
</div>
