$diameter: 350px;

.contact {
  margin-top: 70px;
  margin-bottom: 30px;

  .info {
    font-size: 17px;
    color: white;
    text-align: center;
    width: $diameter;
    height: $diameter;
    background: $base-color;
    border-radius: $diameter/2;

    .title {
      margin-top: $diameter/5;
      margin-bottom: 15px;
      font-family: cursive;

      b {
        font-family: cursive;
        font-size: 25px;
        border-bottom: thin solid white;
      }
    }
  }

  .message {
    .title {
      font-size: 22px;
    }

    input, textarea {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #9C9C9C;
      margin-bottom: 5px;
    }

    textarea {
      height: 120px;
    }

    input[type=submit] {
      width: 70px;
      float: right;
      background-color: $base-color;
    }
  }
}
