.contact {
  .info {
    border: 3px solid rgb(255, 255, 255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(73, 187, 204);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
  }
}
