.nav-footer {
  margin-bottom: 0px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: #777;
  padding-top: 15px;
  border-radius: 0px;
}

.icon {
  > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;

    path {
        fill: $grey-color;
    }
  }
}

.copyright {
  margin-top: 13px;
}
