footer {
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: $grey-color;
  border-radius: 0px;
  margin-top: 15px;
  margin-bottom: 0px;

  span.copyright {
    margin-top: 13px;
  }

  i.big {
    font-size: 25px;
    color: $grey-color;
  }

  .container {
    border-top: thin solid $base-color;
  }
}
