.app {
  font-size: 17px;

  .logo {
    color: #777;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 15px;

    b {
      color: #ff9641;
    }

    img {
      margin-left: -50px;
      width: 300px;
    }
  }
}
