<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid background">
      <div class="container">
        <div class="row">
          <h1>
            <p>Life is all about the mixture of Family, Friends,
              <br/>Experiences, and Solving Problems
            </p>
            <p><br/>Here is a peek into my life.</p>
          </h1>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
